{% extends "layout.html" %}

{% block title %}Welcome{% endblock title %}

{% block body %}
<section id="about">
	<div id="photo"></div>
	<div class="wrap">
		<h1>Kyle and Elizabeth</h1>
		<p>After 8 years together, Kyle Marsh and Liz Flannery are
		finally celebrating their marriage with a small group of friends and
		family in San Francisco on the twelfth day of October, 2013.</p>
		<p>Prior to that they will be holding a celebration at their
		house in Burbank on the fifth day of October, 2013.</p>
	</div>
</section>

<section id="ceremony">
	<div class="wrap">
		<h1>San Francisco</h1>
		<p>We will be holding a small wedding ceremony at the Lark Creek Inn
		in Larkspur on the twelfth of October, 2013. The celebration begins
		at 5:00pm with dinner to follow.</p>
		<p>Earlier in the day we will be sightseeing and taking photographs
		in the city of San Francisco and invite everyone to join us.</p>
		<p>Once you know if you will be attending,
		<a href="{{ url_for('rsvp') }}">RSVP</a> on this site to indicate
		your meal preference, or let us know not to expect you.</p>
		<div class="btn-wrap">
			<a href="{{ url_for('rsvp') }}" class="btn"><span>RSVP</span></a>
		</div>
	</div>
</section>

<section id="celebration">
	<div class="wrap">
		<h1>Los Angeles</h1>
		<p>We invite everyone to join us at our house in Burbank on the
		evening of the fifth of October, 2013 for a more local celebration.
		We will have hors d'oeuvres served, a fire pit, and fire spinning,
		so if you want to come by, <a href="{{ url_for('rsvpla') }}">let us
		know</a>.</p>
		<div class="btn-wrap">
			<a href="{{ url_for('rsvpla') }}" class="btn"><span>I'm in!</span></a>
		</div>
	</div>
</section>

<section id="registry">
	<div class="wrap">
		<h1>Gift Registry</h1>
		<p>We have been using an old, cantankerous car for the whole
		time they've been dating. We've finally decided to upgrade into the
		current decade and will gratefully accept donations toward the cost of a
		car with air conditioning that doesn't drip oil onto our driveway</p>

		<p>If you do feel a need to purchase us a gift instead, we have a small
		registry at <a target="_blank" href="http://www.amazon.com/registry/wedding/1F1ZBKT2XL9YY">Amazon</a></p>
		<div class="btn-wrap">
			<a target="_blank" href="http://www.amazon.com/registry/wedding/1F1ZBKT2XL9YY" class="btn"><span>Amazon</span></a>
		</div>
	</div>
</section>

<section id="contact">
	<div class="wrap">
		<h1>Contact Us</h1>
	    <p>Contact us at 415.335.9533 or <a href="mailto:wedding@kyleandelizabeth.net">wedding@kyleandelizabeth.net</a> with any requests or questions.</p>
	</div>
</section>
{% endblock body %}
