<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 " lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<title>{% block title %}{% endblock title %} | Kyle and Elizabeth</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        {% block extra_head %}
        {% endblock extra_head %}
	</head>
	<body>

        <div id="container">
        	{% if active_page != 'rsvp' %}
            <nav>
                <ul>
					<li><a href="/" data-scroll-section="top">Welcome</a></li>
					<li><a href="/#ceremony" data-scroll-section="ceremony">Ceremony</a></li>
					<li><a href="/#celebration" data-scroll-section="celebration">Celebration</a></li>
					<li><a href="/#registry" data-scroll-section="registry">Registry</a></li>
					<li><a href="/#contact" data-scroll-section="contact">Contact</a></li>
                </ul>
            </nav>
            {% endif %}

			{% for message in get_flashed_messages() %}
				<div class=flash>{{ message }}</div>
			{% endfor %}

            <div id="main">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul class=flashes>
							{% for message in messages %}
							<li>{{ message }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
				{% block body %}{% endblock body %}
            </div>
        </div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			$( function() {
				$('nav a').click( function() {
					var target = $(this).data('scroll-section'),
						top = (target == 'top') ? 0 : $('#'+target).offset().top;

					$('html, body').animate({
						scrollTop: top
					}, 600);

					return false;
				});
			});
		</script>
	</body>
</html>
