<!doctype html>
<html>
	<head>
		<title>{% block title %}{% endblock title %} | Kyle and Elizabeth</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        {% block extra_head %}
        {% endblock extra_head %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
					<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</head>
	<body>

        <div id="container">
        	{% if active_page != 'rsvp' %}
            <nav>
                <ul>
					<li><a href="/" data-scroll-section="top">Welcome</a></li>
					<li><a href="/#ceremony" data-scroll-section="ceremony">Ceremony</a></li>
					<li><a href="/#celebration" data-scroll-section="celebration">Celebration</a></li>
					<li><a href="/#registry" data-scroll-section="registry">Registry</a></li>
					<li><a href="/#contact" data-scroll-section="contact">Contact</a></li>
                </ul>
            </nav>
            {% endif %}

			{% for message in get_flashed_messages() %}
				<div class=flash>{{ message }}</div>
			{% endfor %}

            <div id="main">
				{% block body %}{% endblock body %}
            </div>
        </div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			$( function() {
				$('nav a').click( function() {
					var target = $(this).data('scroll-section'),
						top = (target == 'top') ? 0 : $('#'+target).offset().top;
					
					$('html, body').animate({
						scrollTop: top
					}, 600);

					return false;
				});
			});
		</script>
	</body>
</html>
