{% extends "layout.html" %}
{% set active_page = "rsvp" %}

{% block title %}RSVP -- Los Angeles Celebration{% endblock title %}

{% block body %}
<section id="rsvp">
	<div class="wrap">
		<a href="{{ url_for('index', _anchor='celebration') }}" class="btn"><span>&laquo; Back to Wedding Info</span></a>

	    <h1>RSVP</h1>
		<form method="post" action="/rsvpla">
			<div class='attendee'>
				<div class="name">
					<input type="text" name="name" placeholder="John Doe">
				</div>
				<select name="attending">
					<option selected value="1">Will be attending</option>
					<option value="0">Will not be attending</option>
				</select>
			</div>
			<button class="btn"><span>RSVP</span></button>
		</form>

		<p class="error">Please <a href="{{ url_for('contact') }}">contact us</a> if you are experiencing difficulty.</p>
	</div>
</section>
{% endblock %}
